@font-face{
    
} /* @font-face has very unique syntax */

p {
    font-family: Open Sans;
} 
     
h1, h2, h3 {
    font-family: Open Sans;
    color: black;
}

.date {
    color: blue;
} /* selects a specific class within the html file */
    
a {
    color: red;
}
a:hover {
    color: darkred;
}    
    
main {
    background-color: #eeeeee;
}
    
    